<div class="login-register">
    <center>
        <h2>INICIO DE SESIÓN</h2>
    </center>
    <form action="/index.php" method="post" accept-charset="UTF-8">
        <input class="end-lane-form form-box" type="text" name="login[]" placeholder="Usuario" name="uname" required>
        <input class="end-lane-form form-box" type="password" name="login[]" placeholder="Contraseña" name="uname" required>
        <a class="end-lane-form-a" href="index.php?register=1">Aún no estoy registrado</a>
        <input class="end-lane-form button-form" type="submit" name="formularioLogin"/>
    </form>
</div>