<div class="profile-admin">
    <h2>Administración del perfil</h2>

    Si eres un usuario REGISTRADO:
        <ol>
            <ol>1.- cambiar usuario</ol>
            <ol>2.- cambiar correo </ol>
            <ol>3.- cambiar contraseña </ol>
        </ol>
    Si eres un usuario MODERADOR:
    <ol>
        <ol>1.- modificar comentarios</ol>
        <ol>2.- eliminar comentarios</ol>
    </ol>
    Si eres un usuario GESTOR:
    <ol>
        <ol>1.- modificar eventos</ol>
        <ol>2.- eliminar eventos</ol>
        <ol>3.- añadir eventos</ol>
        <ol>4.- añadir etiquetas a los eventos</ol>
    </ol>
    Si eres un usuario SUPERUSUARIO:
    <ol>
        <ol>1.- TODO lo anterior</ol>
        <ol>2.- modificar los roles de los usuarios</ol>
        <ol>3.- ALWAYS MUST BE A DREAMWEAVER</ol>
    </ol>
</div>