<div class="login-register">
    <center>
        <h2>Registro</h2>
    </center>
    <form action="/models/login.php?correctRegister={{correctRegister}}" method="post" accept-charset="UTF-8">
        <input class="end-lane-form form-box" type="text" name="register[]" placeholder="Correo electrónico..." name="uname" required>
        <input class="end-lane-form form-box" type="text" name="register[]" placeholder="Usuario..." name="uname" required>
        <input class="end-lane-form form-box" type="password" name="register[]" placeholder="Contraseña" name="uname" required>
        <input class="end-lane-form form-box" type="password" name="register[]" placeholder="Repita la contraseña" name="uname" required>
        <input class="" type="checkbox" name="register[]" placeholder="Contraseña" name="uname" required>
        Acepto las condiciones y servicios
        <input class="end-lane-form button-form" type="submit" name="submit"/>
    </form>
</div>