<section class="main-section-event">
    <div class="event">
        
        <!-- Imágenes del evento -->
        <div id="widgets-event">					
            <ul>
                <li class="widget-item">
                    <div class="widget-image">
                        <img class="image-event" src="{{imagen1}}">
                        <h5> {{pie1}}</h5>
                    </div>
                </li>
                <li class="widget-item">
                    <div class="widget-image">
                        <img class="image-event" src="{{imagen2}}">
                        <h5>{{pie2}}</h5>
                    </div>				
                </li>					
                
            </ul>
        </div>

        <!-- Información del evento -->
        <h3> {{titulo}} </h3>
        <h2>{{organizador}} </h2>
        <h4><i>{{fecha}} a las {{hora}}</i></h4>	

        {{ contenido|striptags('<b><br><p></p><ul></ul><li></li>')|raw }}
        &nbsp;

        <!-- Tags -->
        <ul id="tag-bar">
            <li class="tag">
                <img src="../imgs/label.png">
            </li>
            <li class="tag">
                <a href="../html/fortnite.html">Fortnite,</a>
            </li>
            <li class="tag">
                <a href="../html/torneos.html">Torneos</a>
            </li>
        </ul>

        <!-- Redes sociales e impresión -->
        <ul id="event-social">
            <li class="menu-item"><a href="https://twitter.com/gamerhousecl">
                <img alt="Twitter" onmouseout="this.src='../imgs/Round Social Icons/PNG/Mono/twitter@2x.png';" onmouseover="this.src='../imgs/Round Social Icons/PNG/Color/twitter@2x.png';" src="../imgs/Round Social Icons/PNG/Mono/twitter@2x.png" />
                <h5>Twitter</h5></a></li>
            <li class="menu-item"><a href="https://www.facebook.com/GamerHouseCL/">
                <img alt="Facebook" onmouseout="this.src='../imgs/Round Social Icons/PNG/Mono/facebook@2x.png';" onmouseover="this.src='../imgs/Round Social Icons/PNG/Color/facebook@2x.png';" src="../imgs/Round Social Icons/PNG/Mono/facebook@2x.png" />
                <h5>Facebook</h5></a></li>

            <li class="menu-item"><a href="../html/eventoFortnite-imprimir.html">
                <img onmouseout="this.src='../imgs/Round Social Icons/PNG/Mono/print.png';" onmouseover="this.src='../imgs/Round Social Icons/PNG/Color/print.png';" src="../imgs/Round Social Icons/PNG/Mono/print.png" alt="Imprimir"/>
                <h5>Imprimir</h5></a></li>
        </ul>



        
    </div>	

    
</section>