<main id="container">
    <header>
        <div id="brand">
            <a href="index.php">
                <img src="imgs/logo/logo.png" alt="Logo">
            </a>
        </div>
        <div id="header-container">
            <h1 id="page-title">Losjue Guitos</h1>
            <nav>
                <ul id="header-menu">
                    <li class="menu-item"><a href="index.php">Principal</a></li>
                    <li class="menu-item"><a href="html/contacto.html">Contacto</a></li>
                    <li class="menu-item"><a href="index.php?login=true">Iniciar Sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>
</main>