<aside id="widgets">
    <ul>
        <li class="widget-item">
            <iframe class="embedded-video" src="https://www.youtube.com/embed/1l3Y_vBslPg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5>Liga de Hierros profesional</h5>
        </li>
        <li class="widget-item"><a href="https://www.youtube.com/user/eurogamerspain">
            <img class="widget-logo" src="imgs/youtubeLogo.png" alt="Logo youtube">
            <h5>EurogamerSpain YT</h5>
        </a></li>
        <li class="widget-item"><a href="https://eurogamer.es">
            <img class="widget-logo" src="imgs/EuroGamer.png">
            <h5>Prensa videojuegos</h5>
        </a></li>
        <li class="widget-item">
            <div class="widget-tag-title"> 									
                <h4 class="tag-title">ETIQUETAS</h4>
            </div>
                <a class="widget-tag" href="html/fortnite.html">Fortnuto</a>					
                <a class="widget-tag" href="html/torneos.html">Torneos</a>					
                <a class="widget-tag" href="html/mariokart.html">Mario Kart</a>
                <a class="widget-tag" href="html/lol.html">LoL</a>
        </li>
    </ul>
</aside>