<!-- Botón para comentarios -->
<div id="comment-button" onclick="toggleComments()">
    <button><img src="/imgs/iconoComentarios.png"></button>
</div>
<!-- Div para los comentarios (oculto) -->
<div id="comment-bar">
    <h3>COMENTARIOS</h3>
    <section class="comment-section">
        
        <!-- Aquí van los comentarios, la plantilla se encarga de poner los que sean necesarios -->
        {% for comment in comments %}
            <div class="comment">
                <h5>
                    <a href="mailto:{{comment.email}}">
                        {{comment.username}}
                    </a>
                </h5>
                <span class="comment-subheading">Escrito: <strong>{{comment.date}}</strong></span>
                <p class="comment-text">
                    {{comment.text}}
                </p>
            </div>
        {% endfor %}

    </section>
    
    <form action="#" id="add-comment" method="get" onsubmit="return addComment(event)">
        <h4>Deje aquí su comentario</h4>
        <input type="text" name="name" id="name" placeholder="Nombre...">
        <input type="text" name="email" id="email" placeholder="Correo electrónico...">
        <textarea name="message" id="message" placeholder="Comentario..." onkeyup="addStringtoForbidden(event)"></textarea>
        <button type="submit" value="Submit">Enviar</button>
    </form>
</div>