<footer>
    <nav id="footer-menu">
        <ul>
            <li><a href="html/privacy.html">Política de privacidad</a></li>
            <li><a href="html/legalAdvice.html">Aviso Legal</a></li>
        </ul>
    </nav>
    <p id="by-text">
        Copyright Eventos Gaming  &copy; 2019<br>
        Calle del jueguito | <a href="tel:+34958220355" title="Teléfono de contacto">958 55 55 55</a> |
        <a href="mailto:contacto@eventosgaming.com" title="Correo de contacto">contacto@eventosgaming.com</a><br>
        Luis Cotelo & María Florencio
    </p>
</footer>