<main id="container">
    <header>
        <div id="brand">
            <a href="portada.html">
                <img src="imgs/logo/logo.png" alt="Logo">
            </a>
        </div>
        <div id="header-container">
            <h1 id="page-title">Eventos gaming</h1>
            <nav>
                <ul id="header-menu">
                    <li class="menu-item"><a href="portada.php">Home</a></li>
                    <li class="menu-item"><a href="html/contacto.html">Contacto</a></li>
                    <li class="menu-item"><a href="/html/calendario.html">Calendario</a></li>
                    <!-- Para abrir el modal, uso una biblioteca css y js de w3schools, no es bootstrap-->
                    <li class="menu-item"><button id="myBtn">Iniciar sesión</button></li>
                </ul>
            </nav>
        </div>
    </header>
</main>