<!-- The Modal -->
<div id="login-modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Iniciar Sesión</h2>
        </div>
        <div class="modal-body">
                <form action="/php/login.php" method="post">
                    <p>Correo elecrónico: <input type="text" name="email" required/></p>
                    <p>Contraseña: <input type="text" name="pass" required /></p>
                    <p><input type="submit" /></p>
                </form>
        </div>
        <div class="modal-footer">
            ¿No tienes cuenta? <button id="sign-in-btn">Registrarse</button>
        </div>
    </div>
</div>