<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Iniciar Sesión</h2>
        </div>
            <div class="modal-body">
            <p>Aquí va el formulario bien bonito</p>
            <p>BIEN BONITO</p>
        </div>
        <div class="modal-footer">
            ¿No tienes cuenta? <button id="myBtn">Registrarse</button>
        </div>
    </div>
</div>