<!-- The Modal -->
<div id="sign-in-modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Registrarse</h2>
        </div>
        <div class="modal-body">
            <div class="sesion-container">
                <label for="uname"><b>Usuario</b></label>
                <input type="text" placeholder="Usuario..." name="uname" required>
            
                <label for="psw"><b>Contraseña</b></label>
                <input type="password" placeholder="Contraseña..." name="psw" required>
            
                <button type="submit">Registrarse</button>
            </div>
        </div>
        <div class="modal-footer">
            <hr>
        </div>
    </div>
</div>